<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heiyou.mapper.CaseMapper">
    <resultMap id="case" type="com.heiyou.entity.Case">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="caseTypeId" property="caseTypeId"></result>

        <result column="exhibitionTypeId" property="exhibitionTypeId"></result>
        <association property="caseType" javaType="com.heiyou.entity.CaseType">
            <result column="id" property="id"></result>
            <result column="cnName" property="cnName"></result>
            <result column="enName" property="enName"></result>
        </association>
        <association property="exhibitionType" javaType="com.heiyou.entity.ExhibitionType">
            <result column="etid" property="id"></result>
            <result column="etname" property="name"></result>
        </association>
    </resultMap>
    <insert id="save" parameterType="com.heiyou.entity.Case">
        insert into t_case(id,name,caseTypeId,exhibitionTypeId) values (#{id},#{name},#{caseTypeId},#{exhibitionTypeId})
    </insert>
    <delete id="delete" parameterType="integer">
        delete from t_case where id = #{id}
    </delete>

    <select id="findAll" resultMap="case">
        select c.id,c.name,c.caseTypeId,exhibitionTypeId,et.id etid,et.name etname,ct.id,ct.cnName,ct.enName,ct.`desc` from t_case c,t_exhitionType et, t_casetype ct where c.exhibitionTypeId=et.id and c.caseTypeId = ct.id;
    </select>
</mapper>
